main
*.o
core.*
*~
nrfdfu
.*.swp
.deps
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
.dirstamp
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
